<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  <test name="TestOnFacebook">
  <parameter name ="browserName" value = "facebook"></parameter>
    <classes>
      <class name="com.homework.testcases.testng_hw"/>
    </classes>
  </test>
  
  <test name="TestOnGmail">
  <parameter name ="browserName" value = "gmail"></parameter>
    <classes>
      <class name="com.homework.testcases.testng_hw"/>
    </classes>
  </test>
  
   <!-- Test -->
</suite> <!-- Suite -->
